{
    "command": "/opt/quagga/sbin/zrpcd",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/policy.json",
            "dest": "/etc/quagga/policy.json",
            "owner": "quagga",
            "perm": "0600",
            "optional": true
        }
    ],
    "permissions": [
        {
            "path": "/opt/quagga/var/run/quagga",
            "owner": "quagga:quagga",
            "recurse": true
        },
        {
            "path": "/opt/quagga/var/log/quagga",
            "owner": "quagga:quagga",
            "recurse": true
        }
    ]
}
