#
# Config File for Quagga Thriftd Interface
#
# Defaults shown below. If nothing is specified, then defaults are used

local_thrift_IP=0.0.0.0
#local_thrift_port=7644
odl_controller_IP=127.0.0.1
#odl_controller_thrift_port=6644

# Uncomment the followin line to enable debug output from the
# thrift daemon to syslog (usually /var/log/syslog or /var/log/messages)
#qthriftd_debug_log=yes
