Host kolla-controller
  Hostname {{ host_interfaces | selectattr('role', 'equalto', 'host') | map(attribute='cidr') | join | ipaddr('100') | ipaddr('address') }}
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  User centos

Host kolla-compute
  Hostname {{ host_interfaces | selectattr('role', 'equalto', 'host') | map(attribute='cidr') | join | ipaddr('101') | ipaddr('address') }}
  UserKnownHostsFile /dev/null
  StrictHostKeyChecking no
  User centos

